<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login_styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
</head>
<body>
    <%- include('../includes/navigations.ejs') %>
    <main class="shadow-main" >  
       
        <div class="container"> 
            <h4 class="title">Login</h4>
            <form action="/login" method="POST">
            <div class="input-field">
             <input type="email" name="email" class="validate" autocomplete="off" id="email"spellcheck="false"/>
             <label for="email"  class="label">Email</label>
            </div>
            
            <div class="input-field">
             <input type="password" name="password" class="validate" spellcheck="false" id="pass"/>
             <label for="pass" class="label">Password</label>
         </div> 
         <input type="hidden" name="_csrf" value="<%= csrfToken %>">
         <button class="btn orange darken-2 " type="submit">Login</button>
         </form>
        </div>
        
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>