<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/map-form.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
<title><%=pageTitle %></title>

</head>
<body onload="getLocation()">
    <%- include('../includes/navigations.ejs') %>
<div class="title"><h3>Sign Up</h3> </div>
 <hr>
<div class="mygrid">
      <div class="grid-item1" id="target">
      <div id="map" >
      </div>
      <button id="showMe" class="btn red-lighten-4">Use My Location</button>
      <div id="locationList"></div>
      </div>
    <div class="grid-item2">
      <form id="shippingAddress" method="POST" >
        <br>
        <div class="input-field">
            <input class="input_fields"  type="text" name="fullname" autocomplete="off">
            <label class="active" for="city">Full Name</label>
          </div>
         
          <div class="input-field">
            <input class="input_fields"  type="email" name="email" autocomplete="off">
            <label class="active" for="city">Email</label>
          </div>
          <div class="input-field">
            <input class="input_fields"  type="password" name="password" autocomplete="off">
            <label class="active" for="city">Password</label>
          </div>
        <div class="input-field">
          <textarea class="input_fields materialize-textarea" id="address" type="text" autocomplete="off"  name="address"></textarea>
          <label class="active" for="address">Address</label>
        </div>
        <div class="input-field">
          <input class="input_fields" id="city" type="text" name="city" autocomplete="off">
          <label class="active" for="city">City/District/Town</label>
        </div>
        
        <div class="input-field">
          <input class="input_fields" id="postal_code" type="text"  name="pin_code" autocomplete="off">
          <label class="active" for="pin_code">Pin Code</label>
        </div>
        <div class="input-field">
          <input class="input_fields" id="state"  name="state" type="text" autocomplete="off">
          <label class="active" for="State">State</label>
        </div>
        <input id="lat" type="hidden" name="lat" >
        
        <input id="long"  type="hidden" name="long">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button id="signup" class="btn red lighten-3" type="submit">Sign Up</button>

      </form>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpv2swN80DWLD8U7ggxVHEwd0Ctzzm6FE"></script>
    <script src="/javascript/map-main.js"></script>
    
 
</body>
</html>