<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a href="/">LOGO</a>
            </li>
            <li class="main-header__item">
                <a href="/products">Categories <img src="/images/line-angle-down.svg" height="10px" width="25px" class="svg"></a>
            </li>





        </ul>
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <button href="/">More <img src="/images/line-angle-down.svg" height="10px" width="20px" class="svg"></button>
            </li>
            <li class="main-header__item">
                <a href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <a href="/signup">Signup</a>
            </li>
            <li class="main-header__item">
                <a href="/cart">Cart</a>
            </li>


        </ul>
    </nav>
</header>