<div class="backdrop"></div>
<header class="main-hdr" id="this">
    <div class="main-hdr__nav special-nav">
       
        <ul class="main-hdr__item-lst">
            <% if (isAuthenticatedUser && !isAuthenticatedSeller){%>
            <li class="main-hdr__item">
                <a href="/">eMarket</a>
            </li>
<%}%>
            <li class="main-hdr__item dropdowm">
                <% if (!isAuthenticatedSeller){ %>
                <a href="/" class="dropbtm">Categories <img src="/html-images/line-angle-down.svg" height="10px" width="25px" class="svg"></a>
                <div class="dropdowm-cnt">
                    <a href="#" >Freshest Now</a>
                    <a href="#" >Most Reliable</a>
                    <a href="#" >Lowest Prices</a>
                   </div>           
            </li>
           
            <% } else { %>
                <li class="main-hdr__item">
                    <a href="/admin/add-product">Add Products</a>
                </li>
            <li class="main-hdr__item">
                <a href="/admin/products">Admin Products</a>
            </li>
           
            <% } %>
        </ul>
        <ul class="main-hdr__item-lst">
            <% if (!isAuthenticatedSeller && !isAuthenticatedUser ){ %>
            <li class="main-hdr__item dropdowm">
                <a  class="dropbtm">More <img src="/html-images/line-angle-down.svg" height="10px" width="20px" class="svg"></a>
                <div class="dropdowm-cnt">
                    
                    <a href="/loginseller" >Log In to shop</a>
                    <a href="/newseller">Set Up shop</a>
                </div>
            </li>
                    <% } else if(isAuthenticatedSeller) { %>
                        <li class="main-hdr__item">
                            <form action="/userlogout" method="POST">
                                <input type="hidden" name="_csrf" value= "<%= csrfToken %>" />
                            <button type="submit" style="padding: 14px 14px;">Logout</button>
                         </form>
                        </li>
                    <% } %>
            
            <% if (!isAuthenticatedUser && !isAuthenticatedSeller){ %>
            <li class="main-hdr__item">
                <a href="/login">Login</a>
            </li>
            <li class="main-hdr__item">
                <a href="/signup">Signup</a>
            </li>
           
            <% } else if(isAuthenticatedUser && !isAuthenticatedSeller) { %>
                <li class="main-hdr__item">
                   <form action="/userlogout" method="POST">
                    <input type="hidden" name="_csrf" value= "<%= csrfToken %>" />
                   <button type="submit" style="padding: 14px 14px;">Logout</button>
                </form>
                </li>
               
                       
            <li class="main-hdr__item">
                <a href="/cart">Cart</a>
            </li>
           
            <% } %>


            <form><input type="hidden" name="_csrf" value="<%= csrfToken %>"></form>
        </ul>
    </div>
</header>