<%- include('./includes/head.ejs') %>
<title><%=pageTitle %></title>

</head>
    <body>
        <%- include('./includes/navigations.ejs') %>
        <h1>Ooops...page doesn't exist.</h1>
        
    </body>

    </html>