<%- include('./includes/head.ejs') %>
<title><%=pageTitle %></title>
</head>
    <body>
        <%- include('./includes/navigations.ejs') %>
       
  
        <h1> Somethings.. Wrong!</h1>
        
    </body>

    </html>