@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.main-hdr #this{
    width: 100%;
    height: 3.5rem;
    background-color: #fc8c03;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    
   
}

.main-hdr__nav{
    height: 100%;
    width: 100%;
    display: none;
    background-color: #fc8c03;
    align-items: center;
    justify-content: space-between;
   
}

.main-hdr__item-lst {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-hdr__item {
    margin: 0 0.5rem;
    padding: 0;
}

.main-hdr__item a,
.main-hdr__item button {
    font: inherit;
    background: transparent;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.dropdowm-cnt{
    display: none;
    position: absolute;
    z-index: 1;     
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 200px;   
}
.main-hdr__item .dropdowm {
    display: inline-block;
  }
  .main-hdr__item a,.dropbtm {
    display: inline-block;
    color: white; 
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  .dropdowm:hover .dropdowm-cnt {
    display: block;
  }
   .dropdowm:hover .dropbtm  {
    background-color: rgba(243,43,43,0.5);
  }
  .dropdowm-cnt a:hover {background-color: #f1f1f1;}
  .dropdowm-cnt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }  

.main-hdr__item a:hover,
.main-hdr__item a:active,
.main-hdr__item a.active,
.main-hdr__item button:hover,
.main-hdr__item button:active {
    color: #66c1e5;
}

@media (min-width: 768px) {
    .main-hdr__nav {
        display: flex;
    }
    #side-menu-toggle {
        display: none;
    }
    .user-message {
        width: 30rem;
    }
}

#authbtn {
    background-color: transparent;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    transition: color 200ms, background-color 1s;
    padding: auto;
    margin-right: 1.5rem;
}

#authbtn:hover {
    color: white;
    background-image: linear-gradient(to right, #0344ab, #327ffa);
}

.main-hdr__item:hover .svg {
    transform: rotate(180deg);
    color: #0344ab;
}

.svg {
    display: inline;
    transform: rotate(0deg);
    transition: transform 250ms ease;
}