@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
    background-color: white;
}
.shadow-main{
    width:37vw;
    padding:40px 10px 20px;
    height:50vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    align-items: center;
    position: relative;
    left:50%;
    transform: translate(-50%,40%);
    border-radius:14px;
}
.title{
    align-items: center;
    position: relative;
    left:35%;
    padding-bottom:15px;
    
}
.btn{
    position: relative;
    left:50%;
    margin:30px auto;
    width:100px;
    align-items: center;
    transform: translate(-50%, -50%);
}
body{
    background-image: url('/html-images/pattern (1).svg');
}
.input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #66c1e5 !important;
   }


.input-field input[type=email]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #66c1e5  !important;
    box-shadow: 0 1px 0 0 #66c1e5  !important;
   }
   .input-field input[type=password]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #66c1e5 !important;
   }


.input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #66c1e5  !important;
    box-shadow: 0 1px 0 0 #66c1e5  !important;
   }
 .btn{
       font-family: 'Poppins', sans-serif;
   }