<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <%- include('../includes/navigations.ejs') %>
    <div class="main_sidebar">
     <ul class="filter_for_reviews">
      <li class="filter_for_reveiws_item">
       <input type="checkbox"> 4 star & above
      </li>
      <li class="filter_for_reveiws_item">
        <input type="checkbox">  3 star & above
      </li>
      <li class="filter_for_reveiws_item">
        <input type="checkbox">  2 star & above
      </li>
      <li class="filter_for_reveiws_item">
        <input type="checkbox">  1 star & above
      </li>
     </ul>
     <ul class="filter_for_location">
        <li class="filter_for_location_item">
          <input type="checkbox">  In your city
        </li>
        <li class="filter_for_location_item">
          <input type="checkbox">  Around your city
         </li>
         <li class="filter_for_location_item">
          <input type="checkbox">  In your State
         </li>
     </ul>
     <!-- <ul class="filter_for_price">
        <li class="filter_for_price_item">
          <input type="checkbox">
        </li>
     </ul>
     <ul class="filter_delivery_time">
        <li class="filter_delivery_time_item">
          <input type="checkbox">
        </li>
     </ul> -->
    </div>
</body>


</html>